:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
}

.sidePadding {
    padding: 0 8.8vw;
}

h1 {
    text-align: center;
    font-size: 8vw;
    color: var(--dark-grayish-blue);
}

h2 {
    text-align: center;
    margin-top: 8vw;
}

p {
    text-align: center;
    line-height: 1.5;
    margin-top: 4vw;
    color: var(--grayish-blue);
}


/* MOBILE FIRST DESIGN - INDIVIDUAL SETTINGS */
/* MOBILE FIRST DESIGN - INDIVIDUAL SETTINGS */
.bgImageWithLogo {
    position: relative;
}

#companyLogoTop {
    width: 32%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aHistoryOfEverythingYouCopy {
    margin-top: -16%;
}

.btn button:first-child {
    display: block;
    margin: 0 auto;
    margin-top: 8vw;
    background-color: var(--strong-cyan);
    border: 0;
    padding: 4vw 16vw;
    border-radius: 100vmax;
    font-family: 'Bai Jamjuree', sans-serif;
    color: white;
    font-size: 4vw;
    letter-spacing: 2px;
    font-weight: 600;
}

.btn button:nth-child(2) {
    display: block;
    margin: 0 auto;
    margin-top: 4vw;
    background-color: var(--light-blue);
    border: 0;
    padding: 4vw 16vw;
    border-radius: 100vmax;
    font-family: 'Bai Jamjuree', sans-serif;
    color: white;
    font-size: 4vw;
    letter-spacing: 2px;
    font-weight: 600;
}


.keepTrackOfYourSnippets, .accessClipboardAnywhere {
    margin-top: 32vw;
}

.keepTrackOfYourSnippets>img, .accessClipboardAnywhere>img {
    width: 100%;
    margin-top: 16vw;
    margin-bottom: 8vw;
}

.superchargeYourWorkflow>h1 {
    margin-top: 8vw;
}

.superchargeYourWorkflow img {
    display: block;
    margin: 0 auto;
    margin-top: 16vw;
}

.companyLogos img {
    display: block;
margin: 0 auto;
margin-top: 16vw;
}

.companyLogos img:first-child {
    margin-top: 40vw;
}

.clipboardForIosAndMacOs {
    margin-top: 40vw;
}

/* FOOTER SETTINGS */
footer {
    background-color: #F5F6F8;
    margin-top: 40vw;
}

footer>img {
    display: block;
    width: 16%;
    margin: 0 auto;
    padding-top: 16vw;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8vw;
    margin-top: 8vw;
}

.socialIcons {
    padding: 16vw 12vw;
    display: flex;
    justify-content: space-evenly;
}


/* DESKTOP SETTINGS */
/* DESKTOP SETTINGS */
@media (min-width: 800px) {
    .sidePadding {
        padding: 0 24vw;
    }

    p {
        font-size: 1.32vw;
        margin-top: 1.6vw;
    }

    h2 {
        font-size: 2.6vw;
        color: var(--dark-grayish-blue);
    }
    
    h3 {
        margin-top: 4vw;
        font-size: 1.96vw;
        color: var(--dark-grayish-blue);
    }

    .backgroundImage>* {
        width: 100%;
    }
    
    #companyLogoTop {
        width: 8.8%;
    }
    
    .aHistoryOfEverythingYouCopy {
        margin-top: -4vw;
    }
    
    .aHistoryOfEverythingYouCopy h1 {
        font-size: 3.2vw;
    }
    
    .aHistoryOfEverythingYouCopy p {
        margin-top: 2vw;
        font-size: 1.48vw
    }
    
    .btn {        
        width: 68%;
        margin: 0 auto;
        margin-top: 4vw;
        display: flex;
        justify-content: space-around;
        column-gap: 1vw;
    }

    .btn button:first-child, .btn button:nth-child(2) {
        margin: 0;
        padding: 0;
        width: 480px;
        height: 104px;
        font-size: 1.24vw;
    }

    .keepTrackOfYourSnippets {
        margin-top: 8vw;
        position: relative;
    }

    .keepTrackOfYourSnippets h1 {
        font-size: 2.8vw;
    }

    /* .functionality>* {
        border: 1px solid crimson;
    } */

    .functionality {
        margin-top: 5.6vw;
        display: flex;
    }

    .functionalityImage, .functionalityList {
        width: 50%;
    }

    .functionalityImage img {
        width: 108%;
        margin-left: -4vw;
    }

    .functionalityList>* {
        text-align: left;
        padding-right: 16vw;
        padding-left: 8vw;
    }

    .functionalityList p {
        font-size: 1.2vw;
        margin-top: .8vw;
    }
}

